@import "tailwindcss";

*, *::before, *::after {
    font-family: 'Mulish', sans-serif;
}

.link-nav {
    font-size: 1rem;
    font-weight: 500;
    color: #111827;
    text-decoration: none;
}

.link-nav:hover {
    color: #0d9488;
}

.btn-primary {
    background-color: #08BA98;
    color: white;
    padding: 10px 18px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #0f766e;
}

.text-only-button {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1rem;
    font-weight: 500;
    color: #111827;
    text-decoration: none;
}